<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {{ config.APP_TITLE }}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{{ 'css/app.css' | static_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    rel="stylesheet" />
  <script src="{{ 'node_modules/htmx.org/dist/htmx.min.js' | static_url }}"></script>
  <script src="{{ 'node_modules/cally/dist/cally.js' | static_url }}"></script>
  <script src="{{ 'js/date-picker.js' | static_url }}"></script>
  {% block head %}
  {% endblock head %}
</head>

<body class="font-body tracking-wide overflow-x-hidden min-h-screen bg-background-dark text-slate-100">
  {% include "base/navbar.html" %}

  <main class="w-full min-h-screen bg-background-dark p-4 lg:p-8 flex flex-col items-center justify-start">
    {% block body %}
    {% endblock body %}
  </main>

  {% block js %}
  {% endblock js %}
</body>

</html>